<div class="container">
    <div class="row gutters-sm">
        <h3 class="d-flex justify-content-center">Customers</h3>
        <hr>
        <table class="table table-bright table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Transactions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <th scope="row">{{customer.id}}</th>
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.account_number}}</td>
                    <td>{{customer.balance | currency}}</td>
                    <td><a (click)="showTransfers(customer.account_number)" type="button" class="btn btn-info"> Info</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>